**/.idea
.cargo
.dockerignore
.fossa.yml
.git
.github
CHANGELOG.md
CODE_OF_CONDUCT.md
CONTRIBUTING.md
Containerfile.debian
Dockerfile
GNUmakefile
LICENSE.txt
README.md
SECURITY.md
build

.vscode/**

**/target
target

.cache/
.nginx/
